
<div class="container">
    
    <div class="row">
        <span class="col-sm-8">Github Users</span>
        
    </div>
        
    <div class="row" style="margin:10px; padding:10px">
        <div *ngFor= 'let  user of users'   class="card col-md-4">
            <img src= "{{user.avatar_url}}" class="card-img-top"> 
            <div class= "card-body">
            <h4 class="card-title">Username: {{user.login}}</h4> 
            Repositories: <a href= "{{user.html_url}}" class="card-text">{{user.html_url}}</a>
            <br/>
            <a routerLink="users/{{user.login}}" class="card-text">View Details</a>
            </div>
        </div>
    </div>
</div>

